nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
}

.Navlinks
{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.link{
  text-decoration: none;
}

/*.App{
  margin-left: 50px;
  margin-right: 50px;
}*/


.Minions
{
  display: flex;
  justify-content: space-around;
  font-family: 'Righteous', cursive;
  font-size: 35px;
  color:#FFE02E;
 
  font-weight: bold;
  padding-left: 70px;

}

.col-minion
{
  margin-top: 0px;
  font-family: 'Righteous', cursive;
  font-size: 150px;
  background-color: #ffd700;
  color: white;

}
.minion-svg
{
  display: block !important;
}

.minion-bello
{
  font-family: 'Righteous', cursive;
  font-size: 150px;
  padding-left: 80px;
  padding-top: 80px;
}

body{
  overflow-x: hidden;
  overflow-y:auto;
}

.paragraph
{
  font-size: 30px;
  padding-left: 80px;
}

.image-dimension
{
  padding-left: 60px;
  height: 400px;
}

.image-dimension-two
{
  padding-left: 60px;
  height: 350px;
}

.container{
  margin-left: 0px !important;
  margin-right: 0px !important;
  width: 100% !important;
}

.Navmybar
{
  font-family: 'Righteous', cursive;
  text-align: center;
}

.minion-about
{
  font-family: 'Righteous', cursive;
  font-size: 100px;
  padding-left: 80px;
  padding-top: 80px;
}

.details
{
  font-size: 15px;
  text-align: center;
}
@media only screen and (max-width: 1295px) {
  .minion-bello
{
  font-family: 'Righteous', cursive;
  font-size: 60px;
  padding-left: 80px;
  padding-top: 80px;
}
.paragraph
{
  font-size: 20px;
  padding-left: 80px;
}
.image-dimension
{
  padding-left: 60px;
  height: 200px;
}
.image-dimension-two
{
  padding-left: 60px;
  height: 155px;
}
.minion-about
{
  font-family: 'Righteous', cursive;
  font-size: 60px;
  padding-left: 80px;
  padding-top: 80px;
}


}

